body {
    font-family: sans-serif;
    font-size: 16px;
}

.instance-list, .instance-properties {
    list-style-type: none;
    padding: 0;
}

.user-emoji-list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.user-emoji-list li {
    display: inline-block;
    margin: 8px;
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
}

.instance {
    margin: 24px 0;
}

.instance h3 {
    margin: 8px 0;
}

.instance-temperature {
    color: green;
}

.instance-temperature-cold {
    color: blue;
}

.instance-temperature-hot {
    color: red;
}

.group-detail-link {
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.group-detail-link:link {
    color: black;
    text-decoration: none;
}

.group-detail-link:hover {
    color: white;
    background: black;
}

.group-detail-link:visited {
    color: black;
}